.main-container {
  width: 60%;
  height: 100vh;
  border-right: 2px solid rgb(184, 183, 183);
  border-left: 2px solid rgb(184, 183, 183);
  padding: 3%;
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  section::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
