.chat-input {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #1da1f2;
  padding: 16px;
  width: 100%;
  position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.message-input-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.message-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 50%;
  margin-left: 8px;
  border: none;
}

.send-button svg {
  width: 25px;
  width: 25px;
}

.send-button:hover {
  color: #1da1f2;
  background-color: #fff;
  border: 2px solid;
}

.additional-controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* flex-direction: column; */
  margin-top: 8px;
}

.icon-container {
  margin-bottom: 8px;
}

.image-label,
.emoji-button,
.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #1da1f2;
  border: none;
  margin: 0 5px;
}

.icon-container svg {
  width: 30px;
  height: 30px;
}
.emoji-picker-react {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}

.image-preview {
  max-width: 100%;
  height: auto;
  margin-top: 16px;
}
