.Edit-post-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 600px; */
  margin: 10px auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #1da1f2;
  background-color: #fff;
}
.Edit-post-image-video {
  display: flex;
  align-items: center;
  justify-content: center;
}
