nav {
  /* background-color: ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 1%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav .nav_log img {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.Nav_links {
  /* display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  height: 100%; */
}

.Nav_links a {
  text-decoration: none;
  font-size: 20px;
  color: #10029a;
  height: 100%;
}

.Nav_links button {
  font-size: 1.2rem;
  padding: 2% 5%;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
