.friend-data {
  display: flex;
  margin: 4% 0;
  padding: 2%;
  background-color: aliceblue;
  border-radius: 10px;
}
.friend-data img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.friend-data-info {
  margin: 0 3%;
}
.friend-data-info-extra {
  display: flex;
}

.friend-data-info-extra-icon {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
