.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}
form {
  display: inline-block;
  margin: 0 auto;
  /* width: 100%; */
}

.pseudo-search {
  display: inline;
  border-radius: 100px;
  padding: 10px 15px;
  border: 2px solid gray;
  transition: background-color 0.5s ease-in-out;
  /* width: 50%; */
  width: 100%;
}
.pseudo-search:hover {
  border: 2px solid #3fdbf0;
}

.pseudo-search input {
  border: 0;
  background-color: transparent;
  width: 300px;
  /* font-size: 30px; */
  /* padding: 1%; */
  font-size: 1.2rem;
}

.pseudo-search input:focus {
  outline: none;
}

.pseudo-search button,
.pseudo-search i {
  border: none;
  background: none;
  cursor: pointer;
}
.search-result {
  background-color: #3fdbf0;
  border-bottom: 1px solid #ccc;
}

.search-results {
  position: absolute;
  width: 25%;
  margin: 1% 0;
  border-radius: 5px;
}

.search-result {
  display: flex;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
}

.search-result:hover {
  background-color: aliceblue;
}

.search-result img {
  width: 15%;
  border-radius: 50%;
  padding: 4%;
}
